.green1 {
    fill: $green1;
}

.green2 {
    fill: $green2;
}

.green3 {
    fill: $green3;
}

.green4 {
    fill: $green4;
}

.green5 {
    fill: $green5;
}

.green6 {
    fill: $green6;
}

.green7 {
    fill: $green7;
}

.eye1 {
    fill: black;
}

.eye2 {
    fill: #343434;
}

.eye3 {
    fill: white;
}

.shadow {
    /*fill: #525252;*/
    fill: url(#shadow);
}
