$green1: #40DF8A;
$green2: #1AC956;
$green3: #B5FFCE;
$green4: #4FE482;
$green5: #0ABF5E;
$green6: #045F2E;
$green7: #298F59;

$red1: #EF3030;
$red2: #CE1E1E;
$red3: #F8AFAF;
$red4: #F76363;
$red5: #DD4545;
$red6: #610C0C;
$red7: #703030;

